<script type="text/javascript">
  window.mainPageTitle = 'Recommendations';
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: window.mainPageTitle
    });
  });
</script>

<div class="section">
  <div class="section-content">
    <div class="section-row">
      <div class="section-listing">
        <div class="section-options">
          <%= render partial: 'common/setting_bar' %>
          <div class="section-content">
            <%= render partial: 'recommendation_partial', locals: {recommendations: @recommendations, shop_url: shop_url} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        
