<ul class="section-tabs">
  <li class=<%= params[:action] == 'index' ? 'active' : ''%>> <a href="/index"> index </a> </li>
  <li class=<%= params[:action] == 'index_settings' ? 'active' : '' %>> <a href="/recomify/settings"> Settings </a> </li>
  <li class=<%= params[:action] == 'customers' ? 'active' : ''%>> <a href="#"> Customers </a> </li>
  <li class=<%= params[:action] == 'recommendations' ? 'active' : ''%>> <a href="#"> Recommendations </a> </li>
</ul>
