<script type="text/javascript">
   window.mainPageTitle = 'Form page';

  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      'title': window.mainPageTitle,
      'icon': 'http://localhost:3000/icon.png',
      'buttons': [
        { 
          label: "Save Unicorn",
          message: 'save_unicorn'
        },
        {
          label: "Back",
          action: function(){
            window.location = "/";
          }
        }
      ]
    });

    ShopifyApp.Bar.loadingOff();
  });
</script>


<h2>Use the top bar to submit the form.</h2>

<form method="POST" action="save_unicorns" data-shopify-app-submit="save_unicorn">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>How many unicorns do you want to save?</label>
  <input type="text" name="unicorns_qty"/>
  
</form>