<%= render "/common/top_bar" %>

<script type="text/javascript">
    window.mainPageTitle = 'Saving unicorns!';

   ShopifyApp.ready(function(){
     ShopifyApp.Bar.setTitle(window.mainPageTitle);
     ShopifyApp.Bar.loadingOff();
   });

</script>

<% if @unicorns_qty.to_i.zero? %>
  <p>Oohhh. No Unicorns were saved. They are all dead. =(</p>
<% else %>
  <p>Yay! You saved <%= @unicorns_qty %> unicorns!</p> 
<% end %>

<p>Use the breadcrum to go to the main page.</p>
