<script type="text/javascript">
  window.mainPageTitle = 'Customers';
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: window.mainPageTitle
    });
  });
</script>

<div class="section">
  <div class="section-content">
    <div class="section-row">
      <div class="section-listing">
        <div class="section-options">
          <%= render partial: 'common/setting_bar' %>
          <div class="section-content">
            <table class="table-section">
              <thead>
                <tr>
                  <th><b>Name</b></th>
                  <th><b>Email</b></th>
                  <th><b>Num of Recommendations</b></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <% @customers.each do |customer| %>
                <tr>
                <td><%= customer.name %></td>
                <td><%= customer.email %></td>
                <td><%= customer.recommendations.size %></td>
                <td><a href="#" class="btn primary">Customer Profile</a></td>
                </tr>
              <% end %>
                </tbody>
              </table>    
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

        
