<ul class="section-tabs">
  <li class=<%= params[:action] == 'ssdindex' ? 'active' : ''%>> <a href="/index"> index </a> </li>
  <li class=<%= params[:action] == 'settings' ? 'active' : '' %>> <a href="/recomify/settings"> Settings </a> </li>
  <li class=<%= params[:action] == 'customers' ? 'active' : ''%>> <a href="#"> Customers </a> </li>
  <li class=<%= params[:controller] == 'recommendations' and params[:action] == 'index' ? 'active' : ''%>> <a href="/recommendations"> Recommendations </a> </li>
</ul>
